@charset "ISO-8859-1";

body{
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}




.centered{
    margin-top: 25%;
}

.f1{
    background-color: lightsalmon; 
    border-radius:13px;
    padding: 2%;
    padding-bottom: 1%;
}